.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-background-color);
}

.footer__address {
  color: var(--primary-background-color);
}

.footer__contact {
  color: #ffffff99;
}

.footer__text {
  color: var(--primary-background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
}

.footer__left-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__middle-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__right-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;

  transition: color var(--transition-dur-and-tim);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .footer__full {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 165px;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__full {
    flex-wrap: nowrap;
    column-gap: 0;
  }

  .footer__left-part {
    align-items: baseline;
    flex-grow: 1;
  }

  .footer__middle-part {
    align-items: baseline;
    margin-left: 70px;
  }

  .footer__right-part {
    align-items: baseline;
    margin-left: 93px;
  }

  .footer__list {
    align-items: flex-start;
  }
}
